/*.header{
    background-color: skyblue   ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;;
    margin: -10px -10px -10px -10px;
    
}
#hamburger{
    margin-left: -1200px;
    position: fixed;
}
.title{
    margin-left: -923px;
    margin-top:5px;
    display: flex;
    height: 37px;
    align-items: center;
    width:178px;
    position: fixed;
}
#jiomarttitle{
    margin-top: 24px;
    margin-left: 5px;
}
#beta{
    font-size: 11px;
    margin-top: 40px;
    margin-left: 2px;
}

#location{
    display: flex;
    margin-right: 305px;
    width: 330px;
    position: fixed;

}
#localogo{
    width: 10px;
    height: 17px;
    margin-right: 8px;
}
.searchbar{
    background-color: white;
    width: 338px;
    height: 40px;
    border-radius: 56px;
    display: flex;
    align-items: center;
    margin-left: 581px;
    position: fixed;
}
#searchlogo{
    width: 16px;
    height: 17px;
    margin-left: 14px;
}
#search{
    border: 0px;
    width: 260px;
    height: 39px;
    margin-left: 5px;
}
#listlogo {
    width: 30px;
}
#cartlogo {
    width: 30px;
    margin-left: 1010px;
    position: fixed;
}
#userlogo{
    width: 25px;
    margin-left: 1150px;
    position: fixed;
}
#name{
    margin-left: 1265px;
    width: 80px;
    height: 25px;
    margin-top: 24px;
    font-size: 17px;
    position: fixed;

} 
*/

/* global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*header css*/
#header1 {
    width: 100%;
    height: 10vh;
    background-color: #0078ad;
    position: sticky;
    top: 0px;
}

.logo {
    width: 35%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    margin-left: 100px;
}

.logo img {
    width: 45px;
    height: 43px;
}

.logo-img {
    margin-right: 5px;
}

.logo-text {
    margin-left: 5px;
    font-weight: 700;
}

.logo-text p {
    font-size: x-large;
    color: aliceblue;
    font-weight: 800;
}

.logo-text-beta {
    font-size: xx-small;
}

.loca {
    display: flex;
    align-items: center;
    width: 95vh;
    height: 10vh;
}

.location {
    width: 45%;
    height: 100%;
    display: flex;
    color: white;
    font-weight: 625;
    font-size: small;
    position: relative;
    justify-content: center;
    align-items: center;
}

#locaimg {
    width: 16px;
    height: 20px;
    margin-right: 4px;
}

.search1 {
    height: 10vh;
    width: 164vh;
    display: flex;
    align-items: center;
}

.search {
    width: 330px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 0cap;
    border-radius: 3vh;
    margin-left: 21vh;
}

#magnifine {
    margin-left: 10px;
    margin-right: 13px;
}

.search input {
    width: 38vh;
    height: 4.6vh;
    border: 0px;
    font-weight: 630;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#categories-logo {
    width: 30px;
    margin-right: 14px
}

.cart1 {
    display: flex;
    align-items: center;
    width: 175vh;
}

.cart img {
    width: 25px;
    margin-left: 20px;
}

.user {
    width: 200vh;
    height: 74px;
    display: flex;
    align-items: center;
}

.userfield {
    width: 20vh;
    height: 35px;
    color: white;
    display: flex;
    align-items: center;
}

.userfield img {
    width: 25px;
    height: 22px;
}

#user-name {
    font-family: Arial, Helvetica, sans-serif;
    width: 16px;
    font-weight: 700;
    margin-left: 1vh;
}

.list {
    margin-top: -1px;
    background-color: #0c5273;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
}

.list ul{
    color:white;
    display: flex;
    align-items: center;
    width: 165vh;
    height: 35px;
    justify-content: space-evenly;
    margin-left: 12vh;
    font-size: 14px;
    font-weight: 600;
    list-style-type: none;
    padding-right: 225px;
}
.body1{
    height: 200vh;
}
  .container1{
    width: 100%;
    height: 50vh;
    /* background-color: black; */
  }

  .slider1{
    width: 100%;
    height: 50vh;
    margin-top: 40px;
    
  }

  .slider1 img{
    margin-left: -80px;
    margin-top: 54px;
    height: 42vh;
    width: 216vh;
  }

  .banner1{
    width: 100%;
    /* background-color: blue; */
    height: 42vh;
    margin-top: -3vh;
  }

  .banner1 img{
    width: 200vh;
    height: 38vh;
    margin-top: 3vh;
    margin-left: 1.5vh;
  }

  .banner2_3{
    /* background-color: greenyellow; */
    width: 204vh;
    height: 18vh;
    display: flex;
    justify-content: center;
  }

  .imgcon{
    display: flex;
    justify-content:space-between;
    width: 200vh;
    height: 15vh;
    margin-left:-8px;
    /* background-color: red; */
  }

  .imgcon img{
    width: 99vh;
    height: 17vh;
  }

  #electric{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.5vh;
    margin-top: 1.5vh;
    font-weight: 900;
    width: 32vh;
    height: 4vh;
  }

  .electric-categories{
    width: 386vh;
    height: 38vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 9vh;
  }
 